<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <title>Dashboard-Resume Generator</title>

    <!-- Bootstrap core CSS -->

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
       integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="dashboard.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Resume Generator</a>
      <div style="display: flex; align-items: center; justify-content: flex-start; width: 70vmax;">
        <img src="/images/<%=admin.picture %>" width="30" style="border-radius: 50%;">
        <span style="margin-left: 1vmax; color: whitesmoke;">Welcome, <b><i><%=admin.name%></i></b></span>
      </div>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/admin/adminlogout">Log out&nbsp;<i class="fas fa-sign-out-alt"></i></a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" target="iFrame" href="/resume/dashboardhomepage">
                  <span style="font-size: 20px;"><i class="fas fa-home"></i></span>
                   Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" target="iFrame" href="/resume/showalldatawithmodal">
                  <span style="font-size: 20px;"><i class="fas fa-database"></i></span>
                  See resume data
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" target="iFrame" href="/resume/showalldatawithmodal">
                  <span style="font-size: 20px;"><i class="fas fa-edit"></i>&nbsp;<i class="fas fa-trash-alt"></i></span>
                  Update/Delete data
                </a>
              </li>
            </ul>
          </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" style="height: 100vh; background-color: white; display: flex; justify-content: center;">
          
          <iframe src="/resume/dashboardhomepage" frameborder="0" name="iFrame" style="height: 100vh; width: 100%;"></iframe>
          
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
